.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
cache.xml
/gradle
.idea
app/keystore
classes.jar
mylibrary-release.aar
app.iml
keystore
library.iml
GXCAndroid.iml
mySdk.jar
umeng_social_util.aar
